@import "tailwindcss";

@theme {
  --color-primary: #4AA8E2; /* Azul Claro - Header, Botones */
  --color-secondary: #005F9E; /* Azul Oscuro - Elementos secundarios, texto clave */
  --color-accent: #D72F8B; /* Rosa/Fucsia - Resaltar acciones importantes */
  --color-white: #FFFFFF; /* Blanco - Fondos y limpieza visual */
  --color-gray-light: #F5F5F5; /* Gris Claro - Fondos secundarios, bordes */
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
